# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.exp
*.tlog
*.idb
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.db
*.user
*.dat

#Temp files
*.VC.opendb
*.VC.db
*.suo
*.pdb

#ignore files
*.licenseheader
*.vcxproj.user

#Debugger files

#ignore directories
trunk/builds/_bin/
trunk/builds/x64/
trunk/builds/jigsawpuzzle/GeneratedFiles/
trunk/builds/jigsawpuzzle/x64/
trunk/builds/.vs/


*.pdb
*.pdb
*.pdb
*.pdb
*.tcf
